<h2>
  <%= title %>
</h2>
<% for(var i=0;i<10;i++) {%>
  <li><strong>Entry-<%= i %></strong></li>
  <% } %>

  
<script type="module">
  bs_dt_demo.BSDataTableDemos.runDynamicDemo();
</script>